<nb-layout>
  <nb-layout-column>
    <form
      [formGroup]="form"
      (ngSubmit)="form.valid && handleSubmssion()"
      class="container"
    >
      <h1>Registration</h1>

      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>

        <input matInput type="text" formControlName="firstName" />

        <mat-error
          *ngIf="
            form.controls['firstName'].errors &&
            form.controls['firstName'].dirty
          "
        >
          <ng-container *ngIf="form.controls['firstName'].errors['required']">
            First Name is required
          </ng-container>
          <ng-container *ngIf="form.controls['firstName'].errors['minlength']">
            First Name min length 3
          </ng-container>
          <ng-container *ngIf="form.controls['firstName'].errors['maxlength']">
            First Name max length 20
          </ng-container>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Last Name</mat-label>

        <input matInput type="text" formControlName="lastName" />

        <mat-error
          *ngIf="
            form.controls['lastName'].errors && form.controls['lastName'].dirty
          "
        >
          <ng-container *ngIf="form.controls['lastName'].errors['required']">
            Last Name is required
          </ng-container>
          <ng-container *ngIf="form.controls['lastName'].errors['minlength']">
            Last Name min length 3
          </ng-container>
          <ng-container *ngIf="form.controls['lastName'].errors['maxlength']">
            Last Name max length 20
          </ng-container>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />
        <mat-error
          *ngIf="form.controls['email'].errors && form.controls['email'].dirty"
        >
          <ng-container *ngIf="form.controls['email'].errors['required']">
            Email is required
          </ng-container>
          <ng-container *ngIf="form.controls['email'].errors?.['email']">
            Please enter a valid email
          </ng-container>
        </mat-error>
      </mat-form-field>

      <mat-form-field
        appearance="fill"
        [ngClass]="{
          'error-margin':
            form.controls['password'].dirty &&
            form.controls['password'].touched &&
            form.controls['password'].errors &&
            !form.controls['password'].errors['required'] &&
            !form.controls['password'].errors['minlength'] &&
            form.controls['password'].hasError('invalidPassword')
        }"
      >
        <mat-label>Password</mat-label>

        <input matInput type="password" formControlName="password" />

        <mat-error
          *ngIf="
            form.controls['password'].errors && form.controls['password'].dirty
          "
        >
          <ng-container *ngIf="form.controls['password'].errors['required']">
            Password is required
          </ng-container>

          <ng-container *ngIf="form.controls['password'].errors['minlength']">
            Password min length 6
          </ng-container>

          <ng-container
            *ngIf="
              form.controls['password'].hasError('invalidPassword') &&
              !form.controls['password'].errors['minlength'] &&
              !form.controls['password'].errors['required']
            "
          >
            Password must contain at least one uppercase letter, one lowercase
            letter, one number, and one special character.
          </ng-container>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Confirm password</mat-label>

        <input matInput type="password" formControlName="confirmPassword" />

        <mat-error
          *ngIf="
            form.controls['confirmPassword'].errors &&
            form.controls['confirmPassword'].dirty
          "
        >
          <ng-container
            *ngIf="form.controls['confirmPassword'].errors['required']"
          >
            Password is required
          </ng-container>

          <ng-container
            *ngIf="
              form.controls['confirmPassword'].hasError &&
              !form.controls['confirmPassword'].errors['required']
            "
          >
            Passwords must match.
          </ng-container>
        </mat-error>
      </mat-form-field>

      <div>
        <label>Role:</label>

        <mat-radio-group formControlName="role" ngDefaultControl>
          <mat-radio-button [value]="role.PATIENT" color="primary"
            >Patient</mat-radio-button
          >
          <mat-radio-button [value]="role.DOCTOR" color="primary"
            >Doctor</mat-radio-button
          >
        </mat-radio-group>
      </div>
      <button mat-raised-button type="submit" [disabled]="!form.valid">
        Register
      </button>
    </form>
  </nb-layout-column></nb-layout
>
